.modal-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 5px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.modal-wrapper p {
  color: #000;
}

span {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
}